.art-nav
{
   background: #000057;
   margin:0 auto;
   position: relative;
   z-index: 499;
   text-align: left;
}

ul.art-hmenu a, ul.art-hmenu a:link, ul.art-hmenu a:visited, ul.art-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.art-hmenu, ul.art-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.art-hmenu li
{
   position: relative;
   z-index: 5;
   display: block;
   float: left;
   background: none;
   margin: 0;
   padding: 0;
   border: 0;
}

ul.art-hmenu li:hover
{
   z-index: 10000;
   white-space: normal;
}

ul.art-hmenu:after, ul.art-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}

ul.art-hmenu, ul.art-hmenu ul 
{
   min-height: 0;
}

ul.art-hmenu 
{
   display: inline-block;
   vertical-align: bottom;
}

.art-nav:before 
{
   content:' ';
}

.art-hmenu-extra1
{
   position: relative;
   display: block;
   float: left;
   width: auto;
   height: auto;
   background-position: center;
}

.art-hmenu-extra2
{
   position: relative;
   display: block;
   float: right;
   width: auto;
   height: auto;
   background-position: center;
}

.art-hmenu
{
   float: left;
}

.art-menuitemcontainer
{
   margin:0 auto;
}
ul.art-hmenu>li {
   margin-left: 0;
}
ul.art-hmenu>li:first-child {
   margin-left: 0;
}
ul.art-hmenu>li:last-child, ul.art-hmenu>li.last-child {
   margin-right: 0;
}

ul.art-hmenu>li>a
{
   padding:0 12px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 26px;
   cursor: pointer;
   text-decoration: none;
   color: #FFFFFF;
   line-height: 26px;
   text-align: center;
}

.art-hmenu a, 
.art-hmenu a:link, 
.art-hmenu a:visited, 
.art-hmenu a.active, 
.art-hmenu a:hover
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   text-transform: uppercase;
   text-align: left;
}

ul.art-hmenu>li>a.active
{
   background: #0A0AFF;
   background: linear-gradient(top, #1414FF 0, #4747FF 15%, #1F1FFF 50%, #0000FF 50%, #0000E5 50%, #0000FF 86%, #0A0AFF 100%) no-repeat;
   background: -webkit-linear-gradient(top, #1414FF 0, #4747FF 15%, #1F1FFF 50%, #0000FF 50%, #0000E5 50%, #0000FF 86%, #0A0AFF 100%) no-repeat;
   background: -moz-linear-gradient(top, #1414FF 0, #4747FF 15%, #1F1FFF 50%, #0000FF 50%, #0000E5 50%, #0000FF 86%, #0A0AFF 100%) no-repeat;
   background: -o-linear-gradient(top, #1414FF 0, #4747FF 15%, #1F1FFF 50%, #0000FF 50%, #0000E5 50%, #0000FF 86%, #0A0AFF 100%) no-repeat;
   background: -ms-linear-gradient(top, #1414FF 0, #4747FF 15%, #1F1FFF 50%, #0000FF 50%, #0000E5 50%, #0000FF 86%, #0A0AFF 100%) no-repeat;
   background: linear-gradient(top, #1414FF 0, #4747FF 15%, #1F1FFF 50%, #0000FF 50%, #0000E5 50%, #0000FF 86%, #0A0AFF 100%) no-repeat;
   -svg-background: linear-gradient(top, #1414FF 0, #4747FF 15%, #1F1FFF 50%, #0000FF 50%, #0000E5 50%, #0000FF 86%, #0A0AFF 100%) no-repeat;
   padding:0 12px;
   margin:0 auto;
   color: #FAFAFF;
   text-decoration: none;
}

ul.art-hmenu>li>a:visited, 
ul.art-hmenu>li>a:hover, 
ul.art-hmenu>li:hover>a {
   text-decoration: none;
}

ul.art-hmenu>li>a:hover, .desktop ul.art-hmenu>li:hover>a
{
   background: #0A0AFF;
   background: linear-gradient(top, #1414FF 0, #4747FF 15%, #1F1FFF 50%, #0000FF 50%, #0000E5 50%, #0000FF 86%, #0A0AFF 100%) no-repeat;
   background: -webkit-linear-gradient(top, #1414FF 0, #4747FF 15%, #1F1FFF 50%, #0000FF 50%, #0000E5 50%, #0000FF 86%, #0A0AFF 100%) no-repeat;
   background: -moz-linear-gradient(top, #1414FF 0, #4747FF 15%, #1F1FFF 50%, #0000FF 50%, #0000E5 50%, #0000FF 86%, #0A0AFF 100%) no-repeat;
   background: -o-linear-gradient(top, #1414FF 0, #4747FF 15%, #1F1FFF 50%, #0000FF 50%, #0000E5 50%, #0000FF 86%, #0A0AFF 100%) no-repeat;
   background: -ms-linear-gradient(top, #1414FF 0, #4747FF 15%, #1F1FFF 50%, #0000FF 50%, #0000E5 50%, #0000FF 86%, #0A0AFF 100%) no-repeat;
   background: linear-gradient(top, #1414FF 0, #4747FF 15%, #1F1FFF 50%, #0000FF 50%, #0000E5 50%, #0000FF 86%, #0A0AFF 100%) no-repeat;
   -svg-background: linear-gradient(top, #1414FF 0, #4747FF 15%, #1F1FFF 50%, #0000FF 50%, #0000E5 50%, #0000FF 86%, #0A0AFF 100%) no-repeat;
   padding:0 12px;
   margin:0 auto;
}
ul.art-hmenu>li>a:hover, 
.desktop ul.art-hmenu>li:hover>a {
   color: #FAFAFF;
   text-decoration: none;
}

ul.art-hmenu li li a
{
   background: #B9C2CB;
   background: transparent;
   padding:0 8px;
   margin:0 auto;
}
ul.art-hmenu li li 
{
   float: none;
   width: auto;
   margin-top: 0;
   margin-bottom: 0;
}

.desktop ul.art-hmenu li li ul>li:first-child 
{
   margin-top: 0;
}

ul.art-hmenu li li ul>li:last-child 
{
   margin-bottom: 0;
}

.art-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 24px;
   min-width: 7em;
   border: 0 solid transparent;
   text-align: left;
   line-height: 24px;
   color: #6A7D90;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

.art-hmenu ul a:link, 
.art-hmenu ul a:visited, 
.art-hmenu ul a.active, 
.art-hmenu ul a:hover
{
   text-align: left;
   line-height: 24px;
   color: #6A7D90;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

ul.art-hmenu ul li a:hover, .desktop ul.art-hmenu ul li:hover>a
{
   background: #FFFFFF;
   margin:0 auto;
}
.art-hmenu ul a:hover
{
   text-decoration: none;
}

.art-hmenu ul li a:hover
{
   color: #0000F5;
}

.desktop .art-hmenu ul li:hover>a
{
   color: #0000F5;
}

ul.art-hmenu ul:before
{
   background: #EFF2F5;
   border:1px solid #CFD8E2;
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   z-index: 1;
}
.desktop ul.art-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
.desktop ul.art-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}

ul.art-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('images/spacer.gif');
}

.desktop ul.art-hmenu>li>ul
{
   padding: 12px 32px 32px 32px;
   margin: -10px 0 0 -30px;
}

.desktop ul.art-hmenu ul ul
{
   padding: 32px 32px 32px 12px;
   margin: -32px 0 0 -9px;
}

.desktop ul.art-hmenu ul.art-hmenu-left-to-right 
{
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}

.desktop ul.art-hmenu ul.art-hmenu-right-to-left 
{
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

.desktop ul.art-hmenu li li:hover>ul.art-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
.desktop ul.art-hmenu li li:hover>ul.art-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

.desktop ul.art-hmenu ul ul.art-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 32px 32px 32px 12px;
   margin: -32px 0 0 -9px;
}

.desktop ul.art-hmenu ul ul.art-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 32px 12px 32px 32px;
   margin: -32px -9px 0 0;
}

.desktop ul.art-hmenu li ul>li:first-child {
   margin-top: 0;
}
.desktop ul.art-hmenu li ul>li:last-child {
   margin-bottom: 0;
}

.desktop ul.art-hmenu ul ul:before
{
   border-radius: 0;
   top: 30px;
   bottom: 30px;
   right: 30px;
   left: 10px;
}

.desktop ul.art-hmenu>li>ul:before
{
   top: 10px;
   right: 30px;
   bottom: 30px;
   left: 30px;
}

.desktop ul.art-hmenu>li>ul.art-hmenu-left-to-right:before {
   right: 30px;
   left: 30px;
}
.desktop ul.art-hmenu>li>ul.art-hmenu-right-to-left:before {
   right: 30px;
   left: 30px;
}
.desktop ul.art-hmenu ul ul.art-hmenu-left-to-right:before {
   right: 30px;
   left: 10px;
}
.desktop ul.art-hmenu ul ul.art-hmenu-right-to-left:before {
   right: 10px;
   left: 30px;
}

#art-resp {
   display: none;
}

@media all and (max-width: 768px)
{
    #art-resp, #art-resp-t { display: block; }
    #art-resp-m { display: none; }
}

@media all and (max-width: 480px)
{
    #art-resp, #art-resp-m { display: block; }
    #art-resp-t { display: none; }
}

/* dynamic width nav */
.art-nav .art-menu-btn 
{
   border: 1px solid #404040;
   border-radius: 3px;
   box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
   display: none;
   background: -ms-linear-gradient(top, #707070 0, #000 100%);
   background: -moz-linear-gradient(top, #707070 0, #000 100%);
   background: -o-linear-gradient(top, #707070 0, #000 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #707070), color-stop(1, #000));
   background: -webkit-linear-gradient(top, #707070 0, #000 100%);
   background: linear-gradient(to bottom, #707070 0, #000 100%);
   margin: 3px;
   padding: 5px;
   position: relative;
   width: 20px;
}

.art-nav .art-menu-btn span 
{
   background: #E0E0E0;
   border-radius: 2px;
   display: block;
   height: 3px;
   margin: 3px 1px;
   position: relative;
   -moz-transition: background .2s;
   -o-transition: background .2s;
   -webkit-transition: background .2s;
   transition: background .2s;
}

.art-nav .art-menu-btn:hover span
{
   background: #f3f3f3;
}

.responsive .art-nav .art-menu-btn 
{
   display: inline-block;
}

.responsive nav.art-nav,
.responsive .art-nav-inner
{
   width: auto !important;
   position: relative !important;
   top: auto !important;
   left: auto !important;
   right: auto !important;
   bottom: auto !important;
   margin-top: 0;
   margin-bottom: 0;
   min-width: 0;
   text-align: left !important;
}

.responsive nav.art-nav
{
   min-width: 1%;
}

.responsive .art-nav 
{
   padding-left: 0;
   padding-right: 0;
}

/* full width hmenu, instead of inline-block */
.responsive .art-nav ul.art-hmenu 
{
   display: none;
   float: none;
   text-align: center;
}

.responsive .art-nav .art-hmenu.visible 
{
   display: block;
}

/* elements on different lines */
.responsive .art-nav ul.art-hmenu li,
.art-hmenu-extra1,
.art-hmenu-extra2
{
   float: none;
}
  
/* horizontal margins */
.responsive .art-nav ul.art-hmenu>li:first-child, 
.responsive .art-nav ul.art-hmenu>li:last-child, 
.responsive .art-nav ul.art-hmenu>li
{
   margin-left: 0;
   margin-right: 0;
}
 
/* separator */ 
.responsive .art-nav ul.art-hmenu>li:before
{
   display: none;
}

/* vertical distance between items */
.responsive .art-nav ul.art-hmenu a
{
   margin-top: 1px !important;
   margin-bottom: 1px !important;
   height: auto;
   white-space: normal;
}

.responsive .art-nav ul.art-hmenu>li:first-child>a
{
   margin-top: 0 !important;
}

.responsive .art-nav ul.art-hmenu>li:last-child>a
{
   margin-bottom: 0 !important;
}

/* fixes for extended menu */
.responsive .art-nav .ext, 
.responsive .art-nav ul.art-hmenu>li>ul, 
.responsive .art-nav ul.art-hmenu>li>ul>li,
.responsive .art-nav ul.art-hmenu>li>ul>li a
{
   width: auto !important;
}

/* submenu position on hover */
.responsive .art-nav ul.art-hmenu ul
{
   left: auto !important;
   right: auto !important;
   top: auto !important;
   bottom: auto !important;
   display: none !important;
   position: relative !important;
   visibility: visible !important;
}

.responsive .art-nav ul.art-hmenu li.active>ul
{
   display: block !important;
}
.responsive .art-nav ul.art-hmenu ul li.active>a
{
   font-weight: bold;
}

.responsive .art-nav ul.art-hmenu>li>ul>li:first-child:after 
{
   display: none;
}
.responsive .art-nav ul.art-hmenu ul a
{
   padding-left: 4% !important;
}
.responsive .art-nav ul.art-hmenu ul ul a
{
   padding-left: 6% !important;
}
.responsive .art-nav ul.art-hmenu ul ul ul a
{
   padding-left: 8% !important;
}
.responsive .art-nav ul.art-hmenu ul ul ul ul a
{
   padding-left: 10% !important;
}
.responsive .art-nav ul.art-hmenu ul ul ul ul ul a
{
   padding-left: 12% !important;
}
  
.responsive .art-nav ul.art-hmenu>li>ul
{
   padding: 1px;
}
  
.responsive .art-nav ul.art-hmenu>li>ul:before
{
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

